@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); 

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bkg: #ffffff;
  --primary: #ffc107; /* Vibrant yellow */
  --shade: #212529; /* Deep neutral for contrast */
  --heading: 5rem;
  --heading-color: #212529;
  --heading-color-light: #343a40;
}

#__next{
  position: relative;
  z-index: 1;
}

::selection{
  background-color: #c97bdf

  ;
  color:#fff;
}

.Default {
  --bkg: #fff;
  --primary: #A05CAF; 
  --shade: #46244e;
}



html,
body {
  padding: 0;
  margin: 0;
  background-color:var(--bkg) ;
  overflow-x: hidden;
  /* font-family: "Work Sans", sans-serif; */
  font-family: "Lato", serif;
  font-weight: 600;
  font-size:16px;
  color:var(--shade);
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}



h1{
  margin: 0;
  color: var(--black);
  font-size: var(--heading);
  line-height: 1.2;
  font-weight: 900;
  text-transform: capitalize;
  font-family: "Rubik", serif;
}



h2,h3,h4,h5{
  color:var(--heading_color);
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 1.8;
}

p{
  padding: 1em 0;
  display: block;
  line-height: 1.8;
  font-size: 1.9em;
  margin-bottom: 2em;
  font-weight: 400;
}


@media (max-width: 768px) {
  h1{
  font-size: 3rem;
  }
}

.box-shadow{
  border: 1px solid rgb(18, 18, 18);
  box-shadow: rgb(18, 18, 18) 4px 4px 0px;
  border-radius: 8px;
  box-sizing: border-box;
}





